Package: com.p2kdev.pmconfirm
Name: PMConfirm
Depends: firmware (>= 13.0),mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Confirm when setting alarms for PM!
Maintainer: P2KDev <p2kdev@gmail.com>
Author: P2KDev <p2kdev@gmail.com>
Section: Tweaks
